$color-white: #FFFFFF;
$color-black: #020202;

$color-bg: #362253;
$color-bg-light: #3E265F;
$color-bg-dark: #281445;
$color-bg-text: #AF9CCA;


$color-cta: #EB4985;

$color-yellow: #EBDF60;


// paddings & margins
$section-padding: 4rem 0;