@import '../styles/abstracts/variables';

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &Input {
        background-color: $color-bg-text;
        padding: 1.5rem 2rem;
        font-size: 1.8rem;
        font-family: 'Paytone One', sans-serif;
        color: $color-bg;
        border-radius: 20rem;
        border: none;
        outline: none;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;

        &::placeholder {
            color: $color-bg;
        }
    }
    button {max-width: 200px; margin: 0 auto;}

    &Grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        width: 100%;
    }
}